h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-results {
  margin-inline: 30px;
  margin-top: 50px;
  /* margin: 80px 0px 0px 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.search-results__image {
  max-width: 180px;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 400px) {
  .search-results {
    margin-inline: 0px;
  }
}