.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.search-input {
  width: 20%;
  height: 50px;
  border-radius: 11px 0px 0px 11px;
  font-size: 20px;
  padding: 0 10px;
  border-width: 1px;
}

.search-button {
  border: 0;
  cursor: pointer;
  width: 100px;
  border-radius: 0px 11px 11px 0px;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgb(186, 23, 23);
  color: white;
}